:root,
:host {
  --color-background: #363636; --color-text: #ada8a8; --color-background-offset: #000000; --color-background-offset-2: #544040; --color-brand: #643c77; --color-quiet: #d79393; --border-color: #7e7cfe;
}